:root
  /// Brand Color
  --md-color-primary           : #198cff // 品牌色

  /// Text Color
  --md-color-text-base         : #01080F // 重要信息，如一级标题
  --md-color-text-base-inverse : #FFF
  --md-color-text-body         : #41485D // 普通信息，如正文主要内容
  --md-color-text-minor        : #666f83 // 次要信息，如利益点、摘要
  --md-color-text-caption      : #858B9C // 辅助信息，如列表内容描述
  --md-color-text-disabled     : #D9E0E7 // 禁用状态
  --md-color-text-placeholder  : #C5CAD5 // 默认提示输入或占位
  --md-color-text-highlight    : var(--md-color-primary) // 高亮状态
  --md-color-text-warn         : #FF4040 // 利益点，警告提示
  --md-color-text-error        : #FF4040 // 强提示报错
  --md-color-text-link         : #5878B4 // 文字链接

  /// Border & Background Color
  --md-color-border-base       : #E2E4EA // 条目边框
  --md-color-border-element    : #C5CAD5 // 元素边框，如按钮
  --md-color-bg-base           : #F9FAFB // 元素，容器背景
  --md-color-bg-inverse        : #FFF
  --md-color-bg-disabled       : #E2E4EA // 禁用元素背景
  --md-color-bg-tap            : #F9FAFB // 条目点击态
  --md-color-mask              : rgba(37, 38, 45, .7) // 弹窗蒙层

  /// Text Size
  --md-font-heading-large  : calc(60px / 2)
  --md-font-heading-medium : calc(52px / 2)
  --md-font-heading-normal : calc(44px / 2)
  --md-font-caption-large  : calc(36px / 2)
  --md-font-caption-normal : calc(32px / 2)
  --md-font-body-large     : calc(28px / 2)
  --md-font-body-normal    : calc(26px / 2)
  --md-font-minor-large    : calc(24px / 2)
  --md-font-minor-normal   : calc(20px / 2)

  --md-font-weight-light    : 300
  --md-font-weight-normal   : 400
  --md-font-weight-medium   : 500
  --md-font-weight-semibold : 600

  /// Radius Size
  --md-radius-normal : calc(16px / 2)
  --md-radius-circle : 50%

  /// Border Size
  --md-border-width-base : calc(2px / 2)

  /// Spacing size
  --md-h-gap-xs : calc(8px / 2)
  --md-h-gap-sm : calc(12px / 2)
  --md-h-gap-md : calc(20px / 2)
  --md-h-gap-lg : calc(32px / 2)
  --md-h-gap-sl : calc(40px / 2)

  --md-v-gap-xs : calc(8px / 2)
  --md-v-gap-sm : calc(12px / 2)
  --md-v-gap-md : calc(20px / 2)
  --md-v-gap-lg : calc(32px / 2)
  --md-v-gap-sl : calc(40px / 2)

  /// box-sizing
  --md-border-box: border-box

  /// Transition
  --md-ease-in-out-quint : cubic-bezier(.86, 0, .07, 1)

  /// Opacity
  --md-opacity-disabled : .3 // opacity of disabled button, switch, agree

  /// Font Family
  --md-font-family-normal: "Helvetica Neue", Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  --md-font-family-number: DINPro-Medium, DIN Alternate, "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

@font-face {
  font-family: Mand-Mobile-Icon;
  font-style: normal;
  font-weight: normal;
  src url(https://manhattan.didistatic.com/static/manhattan/mand-mobile/icon/2.1.0/iconfont.woff) format("woff"),url(https://manhattan.didistatic.com/static/manhattan/mand-mobile/icon/2.1.0/iconfont.ttf) format("truetype")
}
