:root
  /// action-bar
  --md-action-bar-width: 100%
  --md-action-bar-height: calc(100px / 2)
  --md-action-bar-padding-v: var(--md-v-gap-md)
  --md-action-bar-padding-h: var(--md-h-gap-sl)
  --md-action-bar-button-gap: calc(22px / 2)
  --md-action-bar-slot-height: var(--md-button-height)
  --md-action-bar-zindex: 100

  /// action-sheet
  --md-action-sheet-height: calc(120px / 2)
  --md-action-sheet-padding-h: var(--md-h-gap-sl)
  --md-action-sheet-color: var(--md-color-text-body)
  --md-action-sheet-color-highlight: var(--md-color-primary)
  --md-action-sheet-color-cancel: var(--md-color-text-minor)
  --md-action-sheet-font-size: var(--md-font-caption-normal)
  --md-action-sheet-bg: var(--md-color-bg-inverse)
  --md-action-sheet-disabled-opacity: var(--md-opacity-disabled)
  --md-action-sheet-cancel-gap-bg: var(--md-color-bg-base)
  --md-action-sheet-zindex: 1101

  /// agree
  --md-agree-fill: var(--md-color-primary)
  // agree-fill-inverse: var(--md-color-bg-disabled)
  --md-agree-disabled-opacity: var(--md-opacity-disabled)

  /// bill
  --md-bill-bg: var(--md-color-bg-base)
  --md-bill-name-font-size: var(--md-font-caption-large)
  --md-bill-name-color: var(--md-color-text-body)
  --md-bill-no-font-size: var(--md-font-minor-large)
  --md-bill-no-color: var(--md-color-text-placeholder)
  --md-bill-description-font-size: var(--md-font-minor-large)
  --md-bill-description-color: var(--md-color-text-caption)

  /// button
  --md-button-primary-fill: var(--md-color-primary)
  --md-button-default-fill: var(--md-color-bg-inverse)
  --md-button-disabled-fill: var(--md-color-bg-disabled)
  --md-button-warning-fill: var(--md-color-text-error)

  --md-button-primary-active-fill: #167DE5
  --md-button-default-active-fill: var(--md-color-bg-base)
  --md-button-warning-active-fill: #E9424F

  --md-button-primary-plain-active-fill: #EBF5FF
  --md-button-default-plain-active-fill: var(--md-color-bg-base)
  --md-button-warning-plain-active-fill: #FAC3C6

  --md-button-default-color: var(--md-color-text-body)
  --md-button-primary-color: var(--md-color-text-base-inverse)
  --md-button-disabled-color: var(--md-color-text-base-inverse)
  --md-button-warning-color: var(--md-color-text-base-inverse)

  --md-button-default-plain-color: var(--md-button-default-color)
  --md-button-primary-plain-color: var(--md-button-primary-fill)
  --md-button-warning-plain-color: var(--md-button-warning-fill)
  --md-button-disabled-plain-color: var(--md-color-text-disabled)

  --md-button-height: calc(100px / 2)
  --md-button-font-size: var(--md-font-caption-large)
  --md-button-font-weight: var(--md-font-weight-medium)

  --md-button-small-height: calc(64px / 2)
  --md-button-small-font-size: var(--md-font-body-large)

  --md-button-radius: var(--md-radius-normal)

  /// captcha
  --md-captcha-zindex: 1301
  --md-captcha-title-color: var(--md-color-text-base)
  --md-captcha-title-font-size: var(--md-font-heading-normal)
  --md-captcha-color: var(--md-color-text-caption)
  --md-captcha-font-size: var(--md-font-body-large)
  --md-captcha-footer-font-size: var(--md-font-minor-large)
  --md-captcha-error-color: var(--md-color-text-error)
  --md-captcha-brief-color: var(--md-color-text-caption)
  --md-captcha-countbtn-gap: var(--md-h-gap-lg)
  --md-captcha-btn-color: var(--md-color-primary)

  /// cashier
  --md-cashier-bg: var(--md-color-bg-inverse)
  --md-cashier-choose-title-font-size: var(--md-font-body-large) // 支付标题
  --md-cashier-choose-title-color: var(--md-color-text-minor)
  --md-cashier-choose-amount-font-size: calc(80px / 2) // 支付金额
  --md-cashier-choose-amount-color: var(--md-color-text-base)
  --md-cashier-choose-describe-font-size: var(--md-font-minor-normal) // 支付描述
  --md-cashier-choose-describe-color: var(--md-color-text-minor)
  --md-cashier-choose-channel-title-font-size: calc(30px / 2) // 支付渠道标题
  --md-cashier-choose-channel-title-color: var(--md-color-text-body)
  --md-cashier-choose-channel-title-action-font-size: var(--md-font-body-large) // 支付渠道动作标题
  --md-cashier-choose-channel-title-action-color: var(--md-color-primary)
  --md-cashier-choose-channel-desc-font-size: var(--md-font-minor-large) // 支付渠道备注
  --md-cashier-choose-channel-desc-color: var(--md-color-text-caption)
  --md-cashier-choose-channel-icon-color: var(--md-color-primary)
  --md-cashier-choose-more-font-size: var(--md-font-minor-large) // 更多支付方式
  --md-cashier-choose-more-color: var(--md-color-text-minor)

  /// chart
  --md-chart-line-color: #ccc
  --md-chart-path-color: var(--md-color-primary)
  --md-chart-text-color: var(--md-color-text-minor)
  --md-chart-label-size: calc(22px / 2)
  --md-chart-value-size: calc(20px / 2)

  /// cell-item
  --md-cell-item-min-height: calc(100px / 2)
  --md-cell-item-padding-v: calc(32px / 2)
  --md-cell-item-multilines-padding-v: calc(36px / 2)
  --md-cell-item-title-color: var(--md-color-text-base)
  --md-cell-item-title-font-size: var(--md-font-caption-normal)
  --md-cell-item-brief-color: var(--md-color-text-caption)
  --md-cell-item-brief-font-size: var(--md-font-minor-large)
  --md-cell-item-right-color: var(--md-color-text-caption)
  --md-cell-item-right-font-size: var(--md-font-body-large)
  --md-cell-item-border-color: var(--md-color-border-base)

  /// check
  --md-check-color: var(--md-color-text-highlight)

  --md-checkbox-color: var(--md-color-text-base)
  --md-checkbox-font-size: var(--md-font-caption-normal)
  --md-checkbox-disabled-color: var(--md-color-text-disabled)
  --md-checkbox-active-color: var(--md-color-primary)
  --md-checkbox-active-border-color: var(--md-color-primary)
  --md-checkbox-border-color: var(--md-color-border-element)
  --md-checkbox-border-radius: var(--md-radius-normal)

  /// codebox
  --md-codebox-font-size: calc(50px / 2)
  --md-codebox-width: calc(66px / 2)
  --md-codebox-height: calc(70px / 2)
  --md-codebox-gutter: calc(18px / 2)
  --md-codebox-border-width: calc(2px / 2)
  --md-codebox-border-color: var(--md-color-border-element)
  --md-codebox-border-active-color: var(--md-color-text-base)
  --md-codebox-color: var(--md-color-text-base)
  --md-codebox-blink-color: var(--md-color-text-base)
  --md-codebox-dot-color: var(--md-color-text-base)
  --md-codebox-holder-space: var(--md-h-gap-sm)
  --md-codebox-disabled-color: var(--md-color-text-disabled)

  /// date-picker
  --md-date-picker-font-size: var(--md-font-caption-normal)
  --md-date-time-picker-font-size: var(--md-font-body-large)

  /// dialog
  --md-dialog-width: calc(606px / 2)
  --md-dialog-radius: calc(12px / 2)
  --md-dialog-body-padding: calc(52px / 2)
  --md-dialog-title-font-size: calc(40px / 2)
  --md-dialog-title-color: var(--md-color-text-base)
  --md-dialog-text-font-size: var(--md-font-body-large)
  --md-dialog-action-font-weight: var(--md-font-weight-medium)
  --md-dialog-text-color: var(--md-color-text-minor)
  --md-dialog-action-height: calc(100px / 2)
  --md-dialog-action-font-size: var(--md-font-caption-large)
  --md-dialog-action-border-color: var(--md-color-border-base)
  --md-dialog-close-color: var(--md-color-text-caption)
  --md-dialog-action-highlight-color: var(--md-color-primary)
  --md-dialog-icon-size: calc(100px / 2)
  --md-dialog-icon-fill: var(--md-color-text-caption)
  --md-dialog-zindex: 1500

  /// drop-menu
  --md-drop-menu-height: calc(110px / 2)
  --md-drop-menu-bar-bg: var(--md-color-bg-inverse)
  --md-drop-menu-bar-border-color: var(--md-color-border-base)
  --md-drop-menu-list-bg: var(--md-color-bg-inverse)
  --md-drop-menu-color: var(--md-color-primary)
  --md-drop-menu-font-size: var(--md-font-caption-normal)
  --md-drop-menu-font-weight: var(--md-font-weight-medium)
  --md-drop-menu-disabled-opacity: var(--md-opacity-disabled)
  --md-drop-menu-zindex: 1200

  /// field
  --md-field-padding-h: var(--md-h-gap-sl)
  --md-field-padding-v: var(--md-v-gap-sl)
  --md-field-bg-color: var(--md-color-bg-inverse)
  --md-field-header-gap: var(--md-v-gap-lg)
  --md-field-footer-gap: var(--md-var(--md-v-gap-md))
  --md-field-title-color: var(--md-color-text-base)
  --md-field-title-font-size: var(--md-font-caption-large)
  --md-field-title-font-weight: var(--md-font-weight-medium)
  --md-field-title-font-weight-android: var(--md-bold)
  --md-field-brief-color: var(--md-color-text-caption)
  --md-field-brief-font-size: var(--md-font-minor-large)
  --md-field-action-color: var(--md-color-text-caption)
  --md-field-action-font-size: var(--md-font-minor-large)

  /// field-item
  --md-field-item-min-height: calc(100px / 2)
  --md-field-item-padding-v: calc(30px / 2)
  --md-field-item-title-width: calc(160px / 2)
  --md-field-item-title-gap: calc(10px / 2)
  --md-field-item-color: var(--md-color-text-base)
  --md-field-item-font-size: var(--md-font-caption-normal)
  --md-field-item-font-weight: var(--md-font-weight-medium)
  --md-field-item-placeholder-color: var(--md-color-text-placeholder)
  --md-field-item-addon-color: var(--md-color-text-caption)
  --md-field-item-addon-font-size: var(--md-font-body-large)
  --md-field-item-border-color: var(--md-color-border-base)
  --md-field-item-children-font-size: var(--md-font-minor-large)

  /// detail-item
  --md-detail-item-font-size: var(--md-font-body-large)
  --md-detail-item-title-color: var(--md-color-text-caption)
  --md-detail-item-content-color: var(--md-color-text-body)
  --md-detail-item-gap: var(--md-v-gap-sm)

  /// icon
  --md-icon-size-xss: calc(16px / 2)
  --md-icon-size-xs: calc(20px / 2)
  --md-icon-size-sm: calc(24px / 2)
  --md-icon-size-md: calc(32px / 2)
  --md-icon-size-lg: calc(42px / 2)
  --md-icon-font-family: var(--md-url("https://manhattan.didistatic.com/static/manhattan/mand-mobile/icon/2.1.0/iconfont.woff") format("woff"), url("https://manhattan.didistatic.com/static/manhattan/mand-mobile/icon/2.1.0/iconfont.ttf") format("truetype"))

  /// image-viewer
  --md-image-viewer-index-font-size: calc(32px / 2)
  --md-image-viewer-index-bottom: calc(100px / 2)
  --md-image-viewer-zindex: 1001

  /// input-item
  --md-input-item-height: calc(100px / 2)
  --md-input-item-font-size: var(--md-font-caption-normal)
  --md-input-item-font-weight: var(--md-font-weight-medium)
  --md-input-item-font-weight-android: var(--md-bold)
  --md-input-item-title-latent-font-size: var(--md-font-body-normal)
  --md-input-item-font-size-large: calc(80px / 2)
  --md-input-item-font-size-error: var(--md-font-minor-large)
  --md-input-item-font-size-brief: var(--md-font-minor-large)
  --md-input-item-color: var(--md-color-text-base)
  --md-input-item-title-latent-color: var(--md-color-text-minor)
  --md-input-item-color-disabled: var(--md-color-text-caption)
  --md-input-item-color-error: var(--md-color-text-error)
  --md-input-item-color-brief: var(--md-color-text-caption)
  --md-input-item-placeholder: var(--md-color-text-placeholder)
  --md-input-item-color-highlight: var(--md-color-text-base)
  --md-input-item-icon: var(--md-color-text-placeholder) // delete icon

  /// textarea-item
  --md-textarea-item-font-size: var(--md-font-caption-normal)
  --md-textarea-item-font-weight: var(--md-font-weight-medium)
  --md-textarea-item-line-height: 1.4
  --md-textarea-item-color: var(--md-color-text-base)
  --md-textarea-item-icon: var(--md-color-text-placeholder) // delete icon
  --md-textarea-item-color-error: var(--md-color-text-error)
  --md-textarea-item-color-disabled: var(--md-color-text-caption)
  --md-textarea-item-placeholder-color: var(--md-color-text-placeholder)
  --md-textarea-item-placeholder-weight: var(--md-font-weight-normal)


  /// slider
  --md-slider-bg-base: var(--md-color-bg-base)
  --md-slider-bg-tap: var(--md-color-primary)
  --md-slider-handle-bg: var(--md-color-bg-inverse)

  /// landscape
  --md-landscape-width: calc(540px / 2)
  // landscape-radius: var(--md-radius-normal)
  --md-landscape-fullscreen-bg: var(--md-color-bg-inverse)
  --md-landscape-zindex: 1600

  /// notice-bar
  --md-notice-bar-fill: var(--md-rgba(89, 158, 248, .08))
  --md-notice-bar-font-size: var(--md-font-body-normal)
  --md-notice-bar-color: var(--md-color-primary)
  --md-notice-bar-border-radius: calc(32px / 2)
  --md-notice-bar-fill-warning: #FFEEEF
  --md-notice-bar-color-warning: #FF5B60
  --md-notice-bar-fill-activity: #FFEDDE
  --md-notice-bar-color-activity: #FF843D
  --md-notice-bar-zindex: 999

  /// number-keyboard
  --md-number-keyboard-width: 100%
  --md-number-keyboard-height: calc(428px / 2)
  --md-number-keyboard-bg: var(--md-color-bg-base)
  --md-number-keyboard-key-height: calc(107px / 2)
  --md-number-keyboard-key-bg: var(--md-color-bg-inverse)
  --md-number-keyboard-key-bg-tap: var(--md-color-bg-base)
  --md-number-keyboard-key-confirm-bg: var(--md-color-primary)
  --md-number-keyboard-key-confirm-bg-tap: var(--md-button-primary-active-fill)
  --md-number-keyboard-key-font-size: var(--md-font-heading-medium)
  --md-number-keyboard-key-font-weight: var(--md-font-weight-medium)
  --md-number-keyboard-key-color: var(--md-color-text-base)
  --md-number-keyboard-key-confirm-color: var(--md-color-text-base-inverse)
  --md-number-keyboard-key-border-color: var(--md-color-border-base)
  --md-number-keyboard-zindex: 1302

  /// picker
  --md-picker-padding-h: var(--md-h-gap-sl)
  --md-picker-font-size: var(--md-font-caption-normal)
  --md-picker-disabled-opacity: .2
  --md-picker-color: var(--md-color-text-disabled)
  --md-picker-color-active: var(--md-color-text-highlight)
  --md-picker-font-weight-active: var(--md-font-weight-medium)
  --md-picker-border-color: var(--md-color-border-base)
  --md-picker-zindex: 1100

  /// popup
  --md-popup-title-bar-bg: var(--md-color-bg-inverse)
  --md-popup-title-bar-height: calc(120px / 2)
  --md-popup-title-bar-height-large: calc(180px / 2)
  --md-popup-title-bar-radius: calc(8px / 2)
  --md-popup-title-bar-radius-large: calc(40px / 2)
  --md-popup-title-bar-font-size-button: var(--md-font-caption-large)
  --md-popup-title-bar-font-weight-button: var(--md-font-weight-medium)
  --md-popup-title-bar-font-size-title: calc(40px / 2)
  --md-popup-title-bar-font-size-describe: var(--md-font-body-large)
  --md-popup-title-bar-color-title: var(--md-color-text-base)
  --md-popup-title-bar-color-describe: var(--md-color-text-caption)
  --md-popup-title-bar-color-button-left: var(--md-color-text-minor)
  --md-popup-title-bar-color-button-right: var(--md-color-text-highlight)
  --md-popup-mask-bg: var(--md-color-mask)
  --md-popup-zindex: 1000

  ///radio
  --md-radio-color: var(--md-color-text-highlight)

  /// result-page
  --md-result-page-image-size: calc(260px / 2)
  --md-result-page-title-font-size: var(--md-font-caption-normal)
  --md-result-page-describe-font-size: var(--md-font-body-large)
  --md-result-page-title-color: var(--md-color-text-base)
  --md-result-page-describe-color: var(--md-color-text-caption)

  /// selector
  --md-selector-disabled-opacity: .2
  --md-selector-active-color: var(--md-color-primary)
  --md-selector-zindex: 1102

  /// stepper
  --md-stepper-fill: var(--md-color-bg-base)
  --md-stepper-disabled-opacity: var(--md-opacity-disabled)
  --md-stepper-color: var(--md-color-text-base)
  --md-stepper-font-size: var(--md-font-body-large)
  --md-stepper-input-font-size: var(--md-font-body-normal)
  --md-stepper-height: calc(50px / 2)
  --md-stepper-width-button: calc(54px / 2)
  --md-stepper-width-input: calc(68px / 2)
  --md-stepper-radius-button: calc(2px / 2)
  --md-stepper-radius-input: 0

  /// steps
  --md-steps-color: var(--md-color-border-base)
  --md-steps-color-active: var(--md-color-primary)
  --md-steps-border-size: calc(1px / 2)
  --md-steps-icon-size: calc(32px / 2) // icon size
  --md-steps-text-color: var(--md-color-text-body)
  --md-steps-text-font-size: var(--md-font-body-large)
  --md-steps-text-gap-horizontal: calc(20px / 2)
  --md-steps-text-gap-vertical: calc(40px / 2)
  --md-steps-desc-color: var(--md-color-text-caption)
  --md-steps-desc-font-size: var(--md-font-body-normal)
  --md-steps-transition-delay: .15s

  /// switch
  --md-switch-fill: var(--md-color-primary)
  --md-switch-fill-inverse: var(--md-color-bg-disabled)
  --md-switch-handle-color: #FFF
  --md-switch-item-color-disabled: var(--md-opacity-disabled)

  /// swiper
  --md-swiper-indicator-fill: var(--md-color-primary)

  /// tabs
  --md-tab-font-size: var(--md-font-body-large)
  --md-tab-font-weight: var(--md-font-weight-medium)
  --md-tab-text-color: var(--md-color-text-minor)
  --md-tab-active-color: var(--md-color-primary)
  --md-tab-disabled-color: var(--md-color-text-disabled)
  --md-tab-bg: var(--md-color-bg-base)
  --md-tab-height: calc(100px / 2)
  --md-tab-ink-height: calc(4px / 2)
  --md-tab-offset: var(--md-h-gap-sl)
  --md-tab-item-gap: calc(27px / 2)

  /// tab-picker
  --md-tab-picker-height: calc(500px / 2)
  --md-tab-picker-h-gap: var(--md-h-gap-sl)
  --md-tab-picker-bg: var(--md-color-bg-inverse)
  --md-tab-picker-zindex: 1102

  /// tag
  --md-tag-color: var(--md-color-primary)
  --md-tag-fillet-radius: calc(4px / 2)
  --md-tag-large-font-size: var(--md-font-body-normal)
  --md-tag-small-font-size: var(--md-font-minor-normal)
  --md-tag-tiny-font-size: calc(12px / 2)

  /// tip
  --md-tip-fill: #41485D
  --md-tip-fill-opacity: .8
  --md-tip-font-size: var(--md-font-minor-large)
  --md-tip-color: var(--md-color-text-base-inverse)
  --md-tip-radius: calc(1000px / 2)
  --md-tip-padding: calc(15px / 2) calc(32px / 2)
  --md-tip-close-size: calc(32px / 2)
  --md-tip-shadow: 0 calc(5px / 2) calc(20px / 2) rgba(0, 0, 0, .08)
  --md-tip-zindex: 1303

  /// toast
  --md-toast-fill: rgba(65, 72, 93, .77)
  --md-toast-font-size: var(--md-font-body-large)
  --md-toast-color: #fff
  --md-toast-radius: var(--md-radius-normal)
  --md-toast-padding: calc(20px / 2) calc(30px / 2)
  --md-toast-zindex: 1700
